@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: rgb(248, 252, 252);
    padding: 0%;
    margin: 0%;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: rgb(16, 76, 30);
    color: aliceblue;
    padding: 10px 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    margin: 0%;
    padding: 0%;
}

header li {
    display: inline;
    padding: 0 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: gold;
}

#caption {
    float: left;
}

#caption h1 {
    margin: 0%;
}

header .logo-gold {
    color: gold;
}

#Hero {
    min-height: 500px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlBA_iiFnnAMabYrsSJvic8BRF_kvj348vDA&s);
    background-position: center;
    background-size: cover;
}

#Hero h4 {
    font-size: 25px;
    margin-top: 160px;
    margin-bottom: 0%;
    text-align: center;
}

#Hero h1 {
    font-size: 85px;
    margin-top: 0%;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Dancing Script", cursive;
}

#Hero button {
    font-size: 25px;
    background-color: rgb(15, 62, 40);
    padding: 10px 20px;
    font-weight: 750;
    border: 3px solid rgb(250, 247, 247);
    display: flex;
    color: aliceblue;
    align-items: center;
    margin: auto;
}

#Hero button:hover {
    color: rgb(15, 62, 40);
    border-color: rgb(15, 62, 40);
    background-color: aliceblue;
}

#seperate {
    padding: 4px;
    background-color: rgb(15, 62, 40);
}

#About {
    padding: 120px 0px;
    background-color: aliceblue;
}

#About h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    color: rgb(15, 62, 40);
}

.About-box1 {
    width: 20%;
    float: inline-start;
    padding: 10px;
}

.About-box1 img {
    display: block;
    margin: auto;
}

.About-box2 {
    width: 65%;
    float: right;
    padding: 10px;
    text-align: justify;
}

#About button {
    font-size: 12px;
    background-color: rgb(15, 62, 40);
    color: white;
    font-weight: bold;
    padding: 8px 20px;
}

#About button:hover {
    background-color: aliceblue;
    color: rgb(15, 62, 40);
    border-color: rgb(15, 62, 40);
}

#Skills {
    background-color: rgb(135, 194, 159);
    padding: 70px 0px;
}

.box {
    width: 10%;
    float: left;
    text-align: center;
    padding: 10px;
    bottom: border-box;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.container-1 {
    display: flex;
    justify-content: center;
}

#Skills h2 {
    color: rgb(15, 62, 40);
    font-size: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#Skills h3 {
    font-size: 43px;
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
}

#Skills p {
    font-size: 15px;
    color: rgb(63, 60, 60);
    font-family: "Roboto", sans-serif;
    padding: 10px;
}

#Form h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(15, 62, 40);
    font-family: "Roboto", sans-serif;
    text-align: center;
}
#Form{
    margin: 5%, 25%;
    padding: 70px;
    background-color:rgb(251, 254, 253);
    text-align: center;
}
#Form .form-group{
    font-size: 20px;
    color:  rgb(15, 62, 40);
    font-weight: bold;
}
input{
    width: 250px;
    padding: 5px;
    margin: 2px 0px;
}
#Form .button{
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
    background-color:  rgb(15, 62, 40);
    border: 1px solid  rgb(15, 62, 40);
}
#Form .button:hover{
    color:  rgb(15, 62, 40);
    background-color: aliceblue;
}
footer{
    padding: 10px;
    color:  rgb(15, 62, 40);
    background-color: aliceblue;
    text-align: center;
}